/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: auto;
    padding-top: 20px;
}
.circular--square {
    border-radius: 50%;
}
/* Control the left side */
.left {
    left: 0;
    background-color: darkcyan;
}
/*Control the right side*/
.right {
    right: 0;
    background-color: whitesmoke;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
h1, h2{
    font-family: cursive;
    font-size: 200%;
    color: black;
}
button {
    background-color: rgb(242, 244, 247);
    text-align: center;
    color: black;
    border-radius: .5rem;
    border: none;
    width: 100%;
    padding: 20px 40px 16px;
}
select {
    width: 100%;
    background-color: #edf2f7;
    border: none;
    border-radius: 1.25rem;
    padding: 16px;
    padding-right: 0px;
    margin-top: 10px;
    height: 45px;
    overflow: scroll;
}
input, textarea {
    width: 100%;
    background-color: #edf2f7;
    border: none;
    border-radius: .25rem;
    outline: none;
    padding: 16px;
    padding-right: 0px;
    margin-top: 10px;
    height: 25px;
    font-family: cursive;
}
label{color: black;
    margin: 0px 0px 4px;
    font-size: 16px;
    font-family: cursive;
}
p, h4{font-family: cursive;
    font-size: 14px;
    color: black;}
